
	<tr>	
		<td>
			<span>{{ product.id }}</span>
		</td>

		<td>
			<a href="{{ path('cbsi_product_single', {'id': product.id}) }}">{{ product.name }}</a>
		</td>

		<td>
			<span>{{ product.description }}</span>
		</td>

		<td>
			<span>{{ product.price|number_format(2, '.', ',') }}</span>
		</td>						
	</tr>
